{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Create Post{% endblock %}

{% block ajax %}
<script>
    $(document).on('submit', '#post-form', function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "post_create" %}',
            data:{
                title:$('#id_title').val(),
                body:$('#id_body').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action:'post'
            },
            success:function(json){
                console.log(json);
            },
            error:function(xhr, errmsg, err) {
                alert(xhr.status + ": " + xhr.responseText)
            }
        });
    });
</script>
{% endblock ajax %}

{% block content %}
<h3 class="mb-4">Create Post</h3>
<form method="post" id="post-form">
    {% csrf_token %}
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name='title' placeholder="Title" id="id_title">
    </div>
    <div class="form-group">
        <label>Body</label>
        <textarea class="form-control" name='body' placeholder="Body" id="id_body"></textarea>
    </div>
    <button type="submit" id="post-button" class="btn btn-success">Post</button>
</form>
{% endblock %}
